@media screen and (min-width: 320px) and (max-width: 400px) { 

    .header-title h1{
        font-size: 40px;
    }

    .header_owner_name {
        font-size: 28px;
    }

    .header-title h3 {
        font-size: 25px;
    }

    .experice_title {
        font-size: 32px;
        text-align: center;
    }

    .home_experience_details {
        padding-top: 50%;
        padding-bottom: 1%;
        margin: 0 auto;
    }


 }


 @media screen and (min-width: 400px) and (max-width: 500px) { 

    .header-title h1{
        font-size: 48px;
    }

    .header_owner_name {
        font-size: 28px;
    }

    .header-title h3 {
        font-size: 25px;
    }

    .experice_title {
        font-size: 40px;
        text-align: center;
    }

    .home_experience_details {
        padding-top: 40%;
        padding-bottom: 1%;
        margin: 0 auto;
    }


 }

 @media screen and (min-width: 500px) and (max-width: 650px) { 

    .header-title h1{
        font-size: 40px;
    }

    .header_owner_name {
        font-size: 28px;
    }

    .header-title h3 {
        font-size: 25px;
    }

    .experice_title {
        font-size: 48px;
        text-align: center;
    }

    .home_experience_details {
        padding-top: 35%;
        padding-bottom: 1%;
        margin: 0 auto;
    }


 }

 @media screen and (min-width: 650px) and (max-width: 800px) { 

    .header-title h1{
        font-size: 40px;
    }

    .header_owner_name {
        font-size: 28px;
    }

    .header-title h3 {
        font-size: 25px;
    }

    .experice_title {
        font-size: 50px;
        text-align: center;
    }

    .home_experience_details {
        padding-top: 28%;
        padding-bottom: 1%;
        margin: 0 auto;
    }


 }

 @media screen and (min-width: 800px) and (max-width: 845px) { 

    .header-title h1{
        font-size: 40px;
    }

    .header_owner_name {
        font-size: 28px;
    }

    .header-title h3 {
        font-size: 25px;
    }

    .experice_title {
        font-size: 55px;
        text-align: center;
    }

    .home_experience_details {
        padding-top: 28%;
        padding-bottom: 1%;
        margin: 0 auto;
    }


 }



@media screen and (min-width: 320px) and (max-width: 992px) { 

    .marketing_portfolio_img img {
        width: 100%;
        height: 300px;
        /* transition: 0.4s; */
        cursor: pointer;
        border: none;
        outline: none;
    }

 }

 @media screen and (min-width: 320px) and (max-width: 575px) { 

    .marketing_portfolio_img .specify_gutter img {
        margin-top: 10px;
    }

 }

 @media screen and (min-width: 576px) and (max-width: 768px) { 

    .advanced_ortho_btn, .mosquito_tek_btn {
        position: absolute;
        top: 8%;
        /* left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; */
        margin: auto 0;
        width: 140px;
        height: 35px;
        outline: none;
        border: none;
        border-radius: 18px;
        font-family: tradegothicnextltprobd;
        text-transform: uppercase;
        background-color: #ABC01D;
      }

 }



@media screen and (min-width: 320px) and (max-width: 767px) { 

    .energy_center_title  {
        font-size: 25px;
    }

 }
